<h1>Editing base combatant</h1>

<%= render "form", base_combatant: @base_combatant %>

<br>

<div>
  <%= link_to "Show this base combatant", @base_combatant %> |
  <%= link_to "Back to base combatants", base_combatants_path %>
</div>
